﻿@model IEnumerable<IslamSandhesham.Models.Buttons>
@{
    ViewBag.Title = "Buttons";
    var list = new SelectList(new[]
     {
    new {ID="0", Name="--Select--"},
new {ID="1", Name="Buttons Sections"},
new {ID="2", Name="Images Sections"},
},
     "ID", "Name", 0);
}

<div class="mt-5 bg-info text-white text-center">
    <h2 class="p-2">Button Menu</h2>
</div> 

<div class="col-md-12 row">


    <span class="col-sm-12 row">

        @*<span class="mt-3 col-5 col-md-4">
                @Html.DropDownList("Type2", list, new { @class = "form-control ml-3" })
            </span>*@
        <span class="mt-3 col-5 col-md-4">@Html.DropDownList("SectionListId", (SelectList)ViewBag.SectionsList, "--Select Section--", new { @class = "form-control bg-info text-white ", id = "SectionListId" })</span>
        <button type="button" class="btn btn-info my-3 col-4 col-md-4" data-toggle="modal" data-target="#createBtnModal" onclick="createMode()">Add New </button>
        <span class="mt-3 col-3 col-md-3"><a href="~/Home/Master" class="text-white  btn btn-info">Admin Page</a></span>
    </span>
</div>

<div class="col-12 row">
    <input type="text" id="btnId" hidden />
    <table class="table table-bordered table-hover   table-striped   text-center bg-light col-9">
        <tr class="bg-info text-white">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center">
                Section Name
            </th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
        </tr>

        @foreach (var item in Model.OrderBy(w => w.SectionId))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Description)
                </td>

                <td>
                    <button type="button" class="btn btn-primary" onclick="editBtn(@item.id)" data-toggle="modal" data-target="#createBtnModal">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="deleteBtn(@item.id)" data-toggle="modal" data-target="#deleteBtnModal">Delete</button>
                </td>
            </tr>
        }

    </table>

</div>



<!-- Modal -->
<div class="modal fade" id="createBtnModal" tabindex="-1" role="dialog" aria-labelledby="createBtnModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">New Button</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body col-sm-12 row">
                <div class="col-sm-4"><label>Button Name:</label></div>
                <div class="col-sm-6"><input type="text" class="form-control" id="ButtonNameVal" /></div>
            </div>
            <div class="modal-body col-sm-12 row">
                <div class="col-sm-4"><label>Section Id:</label></div>
                <div class="col-sm-6">@Html.DropDownList("SectionNameVal", (SelectList)ViewBag.SectionsList, "--Select Section--", new { @class = "form-control", id = "SectionNameVal" })</div>
                <br />
            </div>
            <div class="modal-body col-sm-12 row @(@ViewBag.isImageSection==true ? "" : "d-none")" id="imgdiv">
                <div class="col-sm-4"><label>For Image Id:</label></div>
                <div class="col-sm-6">@Html.DropDownList("ImageVal", (SelectList)ViewBag.ImagesList, "--Select Section--", new { @class = "form-control", id = "ImageVal" })</div>
                <br />
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveButtonName()">Save changes</button>
            </div>
        </div>
    </div>
</div>


</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#SectionListId').append('<option value="null">' + "Select All" + '</option>');
        $("#loader").hide();
    });
    var opType = 1;
    function createMode() {
        opType = 1;

        $("#ButtonNameVal").val(''),
            //$("#SectionNameVal").val(''),
            $("#btnId").val('')
    }

    $("#SectionListId").change(function () {
        var id = $("#SectionListId").val();
        window.location.href = '/Home/Buttons/' + id;      //'/Home/Info/?id='+ id;
    });

    $("#SectionNameVal").change(function () {
        $.ajax({
            url: "/Home/getSectionBasedImages/",
            type: "GET",
            data: {
                id: $("#SectionNameVal").val(),
            },
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                if (result.length > 0) {
                    $("#imgdiv").removeClass("d-none");
                }

                $('#ImageVal').empty();
                $('#ImageVal').append('<option value="">' + "--Select Image--" + '</option>');
                $.each(result, function (index, value) {
                    $('#ImageVal').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                    // $('#ButtonList').val(value.value);
                });
            },
            error: function () {
            }
        });

    });
    function SaveButtonName() {
        var btn = {};
        btn.Name = $("#ButtonNameVal").val();
        btn.SectionId = $("#SectionNameVal").val();
        btn.ImageId = $("#ImageVal").val();
        btn.Type = opType;
        btn.id = $("#btnId").val();
        $.ajax({
            url: "/Home/SaveButtonName/",
            type: "POST",
            data: '{btn: ' + JSON.stringify(btn) + '}',
            contentType: "application/json;charset=UTF-8",
            // contentType: "text/plain",
            dataType: "json",
            success: function (result) {
                $("#createBtnModal").hide();
                alert("successfully saved");
                location.reload(true);
            },
            error: function () {

            }
        });
    }
    function editBtn(btnId) {
        $.ajax({
            url: "/Home/getBtnValues/",
            type: "GET",
            data: {
                id: btnId,
            },
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                opType = 2;

                $("#ButtonNameVal").val(result.Name),
                    $("#SectionNameVal").val(result.SectionId),
                    $("#btnId").val(result.id)
            },
            error: function () {

            }
        });
    }
    function deleteBtn(Id) {
        var btn = {};
        btn.id = Id;
        var result = confirm("Are you sure you want to delete?");
        if (result == true) {


            $.ajax({
                url: "/Home/DeleteButton/",
                type: "POST",
                data: '{btn: ' + JSON.stringify(btn) + '}',
                contentType: "application/json;charset=UTF-8",
                //contentType: "text/plain",
                dataType: "json",
                success: function (result) {
                    alert("successfully Deleted");
                    location.reload(true);
                },
                error: function () {

                }
            });
        }

    }



</script>

