﻿@model IEnumerable<IslamSandhesham.Models.Images>

@{
    ViewBag.Title = "Index";
}

<div class="col-sm-12 row">

    <span class="my-2 col-3 col-md-3"><a href="~/Home/createimage" class="text-white  btn btn-info">Add New Image</a></span>
    <span class="my-2 col-3 col-md-3"><a href="~/Home/Master" class="text-white  btn btn-info">Admin Page</a></span>
</div>
<div class="col-md-12 row">


    @*<div class="col-sm-12 row">
            <button type="button" class="btn btn-info my-3 col-4 col-md-4" data-toggle="modal" data-target="#createBtnModal" onclick="createMode()">Add New </button>
            <span class="mt-3 col-5 col-md-4">@Html.DropDownList("SectionListId", (SelectList)ViewBag.SectionsList, "--Select Section--", new { @class = "form-control bg-info text-white ", id = "SectionListId" })</span>
            <span class="mt-3 col-3 col-md-3"><a href="~/Home/Master" class="text-white  btn btn-info">Home</a></span>
        </div>*@

    <div class="col-12 row">
        <input type="text" id="btnId" hidden />
        <table class="table table-bordered table-hover   table-striped   text-center bg-light col-9">
            <tr class="bg-info text-white">
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-center">
                    File Name
                </th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>
            </tr>

            @foreach (var item in Model.OrderBy(w => w.Type))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img src="~/Images/@item.Path" height="150" width="150" />
                    </td>

                    <td>
                        <span class="my-2 col-3 col-md-3"><a href="~/Home/CreateImage/?id=@item.id" class="text-white  btn btn-primary">Edit</a></span>
                        <button type="button" class="btn btn-primary d-none" onclick="editBtn(@item.id)" data-toggle="modal" data-target="#createBtnModal">Edit</button>
                    </td>
                    <td>
                       
                        <button type="button" class="btn btn-danger" onclick="deleteBtn(@item.id)" data-toggle="modal" data-target="#deleteBtnModal">Delete</button>
                    </td>
                </tr>
            }

        </table>

    </div>




</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#loader").hide();
        });

        function deleteBtn(Id) {
           
            var btn = {};
            btn.id = Id;
            var result = confirm("Are you sure you want to delete?");
            if (result == true) {


                $.ajax({
                    url: "/Home/DeleteImage/",
                    type: "POST",
                    data: '{img: ' + JSON.stringify(btn) + '}',
                    contentType: "application/json;charset=UTF-8",
                    //contentType: "text/plain",
                    dataType: "json",
                    success: function (result) {
                        alert("successfully Deleted");
                        location.reload(true);
                    },
                    error: function () {

                    }
                });
            }

        }
    </script>

}


 