﻿@model IEnumerable<IslamSandhesham.Models.Buttons>
@{
    /**/

    ViewBag.Title = "Home Page";
    var Sections = ViewBag.SectionNames as IEnumerable<IslamSandhesham.Models.Sections>;
    var Qna = ViewBag.Qna as IEnumerable<IslamSandhesham.Models.Questions_Answers>;
    var Images = ViewBag.Images as IEnumerable<IslamSandhesham.Models.Images>;
    var Hadith = ViewBag.Hadith as IslamSandhesham.Models.TodayHadithVerse;
    var Quran = ViewBag.Quran as IslamSandhesham.Models.TodayHadithVerse;
}
<style>

        p {
            text-indent: 3em;
        }

        .ribbon {
            font-size: 3vw !important;
            width: 75%;
            background: #17a2b8;
            color: #fff;
            text-align: center;
            border-radius: 10px;
            padding: 0.7em;
            margin: 2em auto 1em;
        }


        .butn {
            margin: 0.4%;
            padding: 1.2%;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: black;
            /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
            /*box-shadow: 0 0 20px #eee;*/
            border: 12px solid black;
            background-color: black;
            border-radius: 4px;
            height: 15% !important;
            width: 31.5% !important;
            font-size: 3.3vw;
            font-family: Arial;
            font-weight: bold;
            /*border: 0;*/
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .imgwh {
            width: 75px;
            height: 75px;
            margin: 10px;
        }

        /* Demo Stuff End -> */

        /* <- Magic Stuff Start */

        .butn:hover {
            background-position: right center; /* change the direction of the change here */
        }

        .butn-1 {
            background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
            border-width: 3px;
            border-color: #fda085;
        }

        .butn-2 {
            background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
            border-width: 3px;
            border-color: #a6c1ee;
        }

        .butn-3 {
            background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
            border-width: 2px;
            border-color: #8fd3f4;
        }

        .butn-4 {
            background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
            border-width: 3px;
            border-color: #c2e9fb;
        }

        .butn-5 {
            background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
            border-width: 3px;
            border-color: #fcb69f;
        }

    .butn-6 {
        background-image: linear-gradient(to right, #7b81ec 0%, #3bd1d3 51%, #7b81ec 100%);
        border-width: 3px;
        border-color: #a6c1ee;
    }

    .butn-7 {
        background-image: linear-gradient(to right, #f6d365 0%, #8fd3f4 51%, #84fab0 100%);
        border-width: 2px;
        border-color: #8fd3f4;
    }
    .butn-8 {
        background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
        border-width: 3px;
        border-color: #c2e9fb;
    }
        /* Magic Stuff End -> */

        [data-toggle="collapse"] .fa:before {
            content: "\f139";
        }

        [data-toggle="collapse"].collapsed .fa:before {
            content: "\f13a";
        }

        .style-2 {
            border: 3px solid #000;
            color: #000;
            padding: 10px;
            font-size: 14px;
            font-weight: 600;
            max-width: 100%; /* max width of button */
            display: block;
            text-align: left;
            margin: 10px auto;
            position: relative;
        }

            .style-2:before {
                content: ">";
                position: absolute;
                right: 0;
                top: 0;
                background: #000;
                color: #fff;
                font-size: 14px;
                width: 35px;
                height: 100%;
                line-height: 31px;
                text-align: center;
                padding-right: 15px;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }

            .style-2:hover:before {
                padding-right: 0;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }

            .style-2:hover {
                background: #17a2b8;
                border-color: #000 !important;
                color: white;
            }

        @@media screen and (min-width: 1200px) {
            .butn {
                padding: 1%;
                font-size: 1.8vw;
                border-radius: 8px
            }

            .ribbon {
                font-size: 2vw !important;
                padding: 0.4em;
            }

            .style-2 {
                max-width: 50%; /* max width of button */
            }
        }




        /*
      The grid itself needs only 4 CSS declarations:
    */

        .myGallery {
            display: grid;
            grid-gap: 25px;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }

            .myGallery img {
                width: 100%;
            }

            /*
      And here are some declarations for the image caption.
      Just hover over one of the last 5 images to see it.
    */

            .myGallery .item {
                position: relative;
                overflow: hidden;
            }

                .myGallery .item img {
                    vertical-align: middle;
                }

            .myGallery .caption {
                margin: 0;
                padding: 0.5em;
                position: absolute;
                z-index: 1;
                bottom: 10px;
                left: 0;
                width: 100%;
                max-height: 100%;
                overflow: auto;
                box-sizing: border-box;
                transition: transform 0.5s;
                transform: translateY(0%);
                background: rgba(0, 0, 0, 0.7);
                color: rgb(255, 255, 255);
            }


        .myGallery {
            font-size: 1rem;
        }
</style>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Strait&display=swap" rel="stylesheet">
<br />
<div class="col-12 row d-none">
    @*@Html.DropDownList("SectionListId", (SelectList)ViewBag.SectionsList, "Select Section", new { @class = "w-100 col-6 p-1 text-dark bg-light font-weight-bold", id = "SectionListId", style = "background-image: linear-gradient(to right, #f6d365 0%, #8fd3f4 51%, #84fab0 100%);border:solid;border-radius:10px;" })*@
    <div class="col-6 col-md-9"></div>
    <div class="col-6 col-md-3"> <button data-toggle="modal" data-target="#askQuestionModal" class="btn btn-sm font-weight-bold w-100 p-2 text-dark" style="background-image: linear-gradient(to right, #f6d365 0%, #8fd3f4 51%, #84fab0 100%); border-radius:10px;">Ask a Question?</button></div>
</div>




<section class="p-0 border-0 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5">
                @*<h4 class="text-secondary">Selected <span style="color:#AE52FF;">Hadith</span></h4>*@
                <div class="card h-100 m-0" style="        border-top: 5px solid #AE52FF !important;
        background-image: url('../../Content/images/bg-banner-2.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 70%;">
                    <div class="card-body">
                        <h4 class="text-secondary text-center mb-5" style="font-family: 'Strait', sans-serif;">Today <span style="color:#AE52FF;">Hadith</span></h4>
                        <h6 class="mb-4" style="font-family: 'Strait', sans-serif;">@Hadith.Reference</h6>
                        <h3 class="font-arabic2 text-center read-more mb-3" data-char="250" style="font-family: 'Lateef', cursive;">
                            @Hadith.ArabicText
                        </h3>
                        <h5 class="font-urdu text-center read-more mb-3" style="font-family: 'Sree Krushnadevaraya', serif;">
                           @Hadith.TeluguText
                        </h5>
                        <h6 class="text-center m-0 read-more mb-3" data-char="200" style="font-family: 'Strait', sans-serif;">
                            @Hadith.EnglishText
                        </h6>
                    </div>
                    <div class="card-footer bg-white text-right">
                        <a href="~/TodayHadithVerses/ViewAll" class="">View All</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                @*<h4 class="text-secondary">Selected <span style="color:#52d3a4">Verse</span></h4>*@
                <div class="card h-100 m-0" style="border-top:5px solid #52d3a4 !important;
  background-image: url('../../Content/images/bg-banner-2.png'); background-repeat:no-repeat; background-position:center top; background-size:100% 70%;">
                    <div class="card-body">
                        <h4 class="text-secondary text-center mb-5" style="font-family: 'Strait', sans-serif;">Today <span style="color:#52d3a4">Verse</span></h4>
                        <h6 class="mb-4" style="font-family: 'Strait', sans-serif;"> @Quran.Reference</h6>
                        <h5 class="font-arabic text-center read-more mb-3" data-char="250" style="font-family: 'Lateef', cursive;font-size:25px">@Quran.ArabicText</h5>
                        <h5 class="font-urdu text-center read-more mb-3" data-char="200" style="font-family: 'Sree Krushnadevaraya', serif;">@Quran.TeluguText</h5>
                        <h6 class="text-center m-0 read-more mb-3" data-char="200" style="font-family: 'Strait', sans-serif;">@Quran.EnglishText</h6>
                    </div>
                    <div class="card-footer bg-white text-right">
                        <a href="~/TodayHadithVerses/ViewAll" class="">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mt-5">

    <div class="">
        @foreach (var item2 in Sections.Where(w => w.Type == 2))
        {
            <h1 class="ribbon">
                <strong>@item2.Description</strong>
            </h1>


            /*getting buttons Section wise*/
            var items = Images.Where(w => w.Section == item2.id);

            <div class="myGallery">
                @foreach (var item in items)
                {

                    <div class="item">
                        <a href="~/home/cards?id=@item.id">
                            <img src="~/Images/@item.Path" style="border-radius: 9%;" />
                            <span class="caption text-center">@item.Description</span>
                        </a>

                    </div>
                }


            </div>

        }





    </div>
    
</div>
<div class="mt-5">
    @{
        var sectionCount = 1;
    }


    @foreach (var item2 in Sections.Where(w=>w.Type==1))
    {
        <h1 class="ribbon">
            <strong>@item2.Description</strong>
        </h1>


        /*getting buttons Section wise*/
        var items = Model.Where(w => w.SectionId == item2.id);


        foreach (var item in items)
        {
            <button class="butn butn-@sectionCount" style="font-family: 'Sree Krushnadevaraya', serif;" id="@item.SectionId" onclick="getContent(@item.id)">@item.Name</button>
        }
        sectionCount++;
        if (sectionCount > 7)
        {
            sectionCount = 1;
        }
    }
</div>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
</head>

<body>
    <br />
    <br />
    <div class="col-12 row">
        <div class="col-8"></div>
        <div class="col-4"> <button class="btn btn-sm font-weight-bold" data-toggle="modal" data-target="#askQuestionModal" style="background-image: linear-gradient(to right, #f6d365 0%, #8fd3f4 51%, #84fab0 100%);border-radius:10px;">Ask a Question?</button></div>
    </div>

    <div class=" bg-info mt-2 p-3 text-white text-center">
        <h5>Questions And Answers</h5>
    </div>
    <div class=" mt-2">
        <div id="accordion">
            @foreach (var item in Qna)
            {

                <div class="card">
                    <div class="card-header bg-indo" id="headingOne_@item.Key" data-toggle="collapse" data-target="#collapseOne_@item.Key" aria-expanded="true" aria-controls="collapseOne_@item.Key">
                        <h5 class="mb-0 ">

                            <span class="btn col-12 col-md-6 text-left text-white" style="white-space: initial;font-size:14px">
                                <i class="fa" aria-hidden="true"></i>
                                @item.Question
                            </span>
                            <span class="btn text-white text-right col-12 col-md-5"> <span class="text-right" style="white-space: initial;font-size:14px">asked by <b>@item.Name (@item.Email) </b>on @item.Date</span></span>
                        </h5>

                    </div>

                    <div id="collapseOne_@item.Key" class="collapse" aria-labelledby="headingOne_@item.Key" data-parent="#accordion">

                        @if (item.Answer != null)
                        {<p class="card-body" style="font-size:14px">
                                @item.Answer
                            </p>
                        }
                        else
                        {
                            <div class="card-body text-center">
                                <span class="text-center">(No Answer Yet)</span>
                            </div>
                        }

                    </div>
                </div>

            }
        </div>
    </div>
    @if (Qna.Count() > 10)
    {
        <a href="~/Home/QnA" class="style-2">For More Questions and Answers Click Here...</a>
    }



    <div class="container my-3 my-sm-5">
        <h1 class="mb-sm-4 text-center mb-4">Contact Us</h1>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">

                <address>
                    <strong>
                        Islam Sandesham
                    </strong>
                    <br />
                    <span title="Mail">Mail Id:</span><a href="mailto:farmankhan@gmail.com">info@domain.com</a><br>
                </address>
            </div>
            <div class="col-12 col-md-6 mb-3" id="contactSection">
                <h4>Send us a message</h4>
                <div class="row">
                    <div class="col-12 col-md-6">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="contactName" class="form-control" placeholder="Enter Name" required>

                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="contactMail" class="form-control" placeholder="Enter Your Mail Id" required>

                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="textarea">Message:</label>
                    <textarea class="form-control" placeholder="Write your message here..." name="contactMessage" id="contactMessage" cols="30" rows="10" style="max-width:100%"></textarea>
                </div>
                <button class="btn btn-info" onclick="SaveContactInfo()">Submit</button>
            </div>
        </div>

    </div>

</body>


<div class="modal fade modal col-12" id="askQuestionModal" tabindex="-1" role="dialog" aria-labelledby="createBtnModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-indo text-white">
                <h3 class="modal-title" id="exampleModalLabel">Ask Question?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body col-sm-12 row mt-3">
                <div class="col-sm-4"><label>Name:</label></div>
                <div class="col-sm-6"><input type="text" class="form-control" id="askQuestion1" /></div>
            </div>
            <div class="modal-body col-sm-12 row">
                <div class="col-sm-4"><label>EmailId:</label></div>
                <div class="col-sm-6"><input type="text" class="form-control" id="askQuestion2" /></div>
            </div>
            <div class="modal-body col-sm-12 row">
                <div class="col-sm-4"><label>Your Question:</label></div>
                <div class="col-sm-12"> <textarea class="form-control" placeholder="Write your question here..." name="" id="askQuestion3" cols="30" rows="10" style="max-width:100%"></textarea></div>
            </div>
            <div class="modal-body col-sm-12 row">

            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="AskQuestionData()">Send</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loader").hide();
    });

    function getContent(id) {
        window.location.href = '/Home/Info?id=' + id;
    }
    function SaveContactInfo() {


        var cnt = {};
        cnt.Name = $("#contactName").val();
        cnt.Email = $("#contactMail").val();
        cnt.Question = $("#contactMessage").val();
        cnt.Type = 2;
        if (cnt.Name == "") {
            alert("Please Enter Name");
            return false;
        }

        else if (cnt.Question == "") {
            alert("Please Type Message..");
            return false;
        }

        $.ajax({
            url: "/Home/QnA/",
            type: "POST",
            data: '{cnt: ' + JSON.stringify(cnt) + '}',
            contentType: "application/json;charset=UTF-8",
            // contentType: "text/plain",
            dataType: "json",
            success: function (result) {
                $("#askQuestionModal").hide();
                alert("Success!");
                location.reload(true);
            },
            error: function () {

            }
        });
    }
    function AskQuestionData() {


        var cnt = {};
        cnt.Name = $("#askQuestion1").val();
        cnt.Email = $("#askQuestion2").val();
        cnt.Question = $("#askQuestion3").val();
        cnt.Type = 1;

        if (cnt.Name == "") {
            alert("Please Enter Name");
            return false;
        }
        else if (cnt.Email == "") {
            alert("Please Enter Email Id");
            return false;
        }
        else if (cnt.Question == "") {
            alert("Please Enter Question..");
            return false;
        }
        $.ajax({
            url: "/Home/QnA",
            type: "POST",
            data: '{cnt: ' + JSON.stringify(cnt) + '}',
            contentType: "application/json;charset=UTF-8",
            // contentType: "text/plain",
            dataType: "json",
            success: function (result) {
                $("#askQuestionModal").hide();
                alert("Successfully Posted Question!");
                location.reload(true);
            },
            error: function () {

            }
        });
    }
</script>