﻿@model IEnumerable<IslamSandhesham.Models.Questions_Answers>
<style>
    [data-toggle="collapse"] .fa:before {
        content: "\f139";
    }

    [data-toggle="collapse"].collapsed .fa:before {
        content: "\f13a";
    }
</style>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<div class="col-12 row mt-5">
    @*@Html.DropDownList("SectionListId", (SelectList)ViewBag.SectionsList, "Select Section", new { @class = "w-100 col-6 p-1 text-dark bg-light font-weight-bold", id = "SectionListId", style = "background-image: linear-gradient(to right, #f6d365 0%, #8fd3f4 51%, #84fab0 100%);border:solid;border-radius:10px;" })*@
    <div class="col-6 col-md-9"></div>
    <div class="col-6 col-md-3"> <button data-toggle="modal" data-target="#askQuestionModal" class="btn btn-sm font-weight-bold w-100 p-2 text-dark" style="background-image: linear-gradient(to right, #f6d365 0%, #8fd3f4 51%, #84fab0 100%); border-radius:10px;">Ask a Question?</button></div>
</div>
<div class=" bg-info mt-3 p-3 text-white">
    <h4>Questions And Answers</h4>
</div>
<div class=" mt-3">
    <div id="accordion">
        @{ int count = 0;}
        @foreach (var item in Model)
        {

            <div class="card">
                <div class="card-header bg-indo" id="headingOne_@item.Key" data-toggle="collapse" data-target="#collapseOne_@item.Key" aria-expanded="true" aria-controls="collapseOne_@item.Key">
                    <h5 class="mb-0 ">

                        <span class="btn col-12 col-md-6 text-left text-white">
                            <i class="fa" aria-hidden="true"></i>
                            @item.Question
                        </span>
                        <span class="btn text-white text-right col-12 col-md-5"> <span class="text-right">asked by <b>@item.Name (@item.Email) on @item.Date</b></span></span>
                    </h5>

                </div>

                <div id="collapseOne_@item.Key" class="collapse @((count == 0) ? "show" : "")" aria-labelledby="headingOne_@item.Key" data-parent="#accordion">

                    @if (item.Answer != null)
                    {<div class="card-body" style="text-indent:3em">
                            @item.Answer
                        </div>
                    }
                    else
                    {
                        <div class="card-body text-center">
                            <span class="text-center">(No Answer Yet)</span>
                        </div>
                    }

                </div>
            </div>
            count++;

        }
    </div>

    <div class="modal fade modal col-12" id="askQuestionModal" tabindex="-1" role="dialog" aria-labelledby="createBtnModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-indo text-white">
                    <h3 class="modal-title" id="exampleModalLabel">Ask Question?</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body col-sm-12 row mt-3">
                    <div class="col-sm-4"><label>Name:</label></div>
                    <div class="col-sm-6"><input type="text" class="form-control" id="askQuestion1" /></div>
                </div>
                <div class="modal-body col-sm-12 row">
                    <div class="col-sm-4"><label>EmailId:</label></div>
                    <div class="col-sm-6"><input type="text" class="form-control" id="askQuestion2" /></div>
                </div>
                <div class="modal-body col-sm-12 row">
                    <div class="col-sm-4"><label>Your Question:</label></div>
                    <div class="col-sm-12"> <textarea class="form-control" placeholder="Write your question here..." name="" id="askQuestion3" cols="30" rows="10" style="max-width:100%"></textarea></div>
                </div>
                <div class="modal-body col-sm-12 row">

                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="AskQuestionData()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loader").hide();
    });
    function AskQuestionData() {


        var cnt = {};
        cnt.Name = $("#askQuestion1").val();
        cnt.Email = $("#askQuestion2").val();
        cnt.Question = $("#askQuestion3").val();
        cnt.Type = 1;

        if (cnt.Name == "") {
            alert("Please Enter Name");
            return false;
        }
        else if (cnt.Email == "") {
            alert("Please Enter Email Id");
            return false;
        }
        else if (cnt.Question == "") {
            alert("Please Enter Question..");
            return false;
        }
        $.ajax({
            url: "/Home/QnA",
            type: "POST",
            data: '{cnt: ' + JSON.stringify(cnt) + '}',
            contentType: "application/json;charset=UTF-8",
            // contentType: "text/plain",
            dataType: "json",
            success: function (result) {
                $("#askQuestionModal").hide();
                alert("Successfully Posted Question!");
                location.reload(true);
            },
            error: function () {

            }
        });
    }
</script>