﻿@model IslamSandhesham.Models.Sections

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create Section</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @{
                var list = new SelectList(new[]
                    {
            new {ID="1", Name="Section For Buttons"},
            new {ID="2", Name="Section For Image"},
        },
                    "ID", "Name", 1);
            }
            @Html.DropDownList("Type", list, new { @class = "form-control ml-3" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-info " />
            </div>
        </div>
    </div>
}

<div>
    <button class="btn btn-warning ml-3" onclick="location.href='@Url.Action("Index", "Sections")';return false;">Back to Sections</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#SectionId").change(function () {
           // alert();
        });
        $(document).ready(function () {
            $("#loader").hide();
        });
    </script>
}