﻿@model IslamSandhesham.Models.TodayHadithVerse

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<hr/>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArabicText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArabicText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeluguText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeluguText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" /> |
            <button class="btn btn-info" onclick="location.href='@Url.Action("Index", "TodayHadithVerses")';return false;">Back to List</button>
        </div>
    }
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loader").hide();
    });
</script>
