﻿@model IslamSandhesham.Models.TodayHadithVerse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TodayHadithVerse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArabicText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArabicText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeluguText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeluguText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
