﻿@model IslamSandhesham.Models.TodayHadithVerse

@{
    ViewBag.Title = "Edit";
}

<h2 class="mt-5">Edit Today Hadith & Verse</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                var list = new SelectList(new[]
                    {
                new {ID="1", Name="Hadith"},
                new {ID="2", Name="Quran"},
            },
                    "ID", "Name", 1);
            }
            @Html.DropDownList("Type", list, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control col-12 col-md-9" } })
            @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ArabicText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ArabicText, 5, 500, new { @class = "form-control col-12 col-md-9" })
            @Html.ValidationMessageFor(model => model.ArabicText, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TeluguText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.TeluguText, 5, 500, new { @class = "form-control  col-12 col-md-9" })
            @Html.ValidationMessageFor(model => model.TeluguText, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EnglishText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.EnglishText, 5, 500, new { @class = "form-control  col-12 col-md-9" })
            @Html.ValidationMessageFor(model => model.EnglishText, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-none">
        @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreatedDate, new { @class = "form-control  col-12 col-md-9" })
            @Html.ValidationMessageFor(model => model.EnglishText, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</div>
}

<button class="btn btn-info" onclick="location.href='@Url.Action("Index", "TodayHadithVerses")';return false;">Back to List</button>
      

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loader").hide();
        //alert($("#CreatedDate").val());
        var date = $("#CreatedDate").val();
        $("#CreatedDate").val(date);
    });
</script>