﻿@model IEnumerable<IslamSandhesham.Models.TodayHadithVerse>

@{
    ViewBag.Title = "Index";
}

<h2  class="my-4">Today Hadith and Verses</h2>


<button class="btn btn-info my-2" onclick="location.href='@Url.Action("Create", "TodayHadithVerses")';return false;">Create New</button>
<table class="table table-bordered table-hover table-striped text-dark bg-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArabicText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeluguText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>       
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Type == 1)
                {
                    <span>Hadith</span>
                }
                else if (item.Type == 2)
                {
                    <span>Quran</span>
                }
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArabicText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeluguText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>           
            <td>
                <button class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Edit", "TodayHadithVerses")/?id=@item.Id';return false;">Edit</button>
                <button class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "TodayHadithVerses")?id=@item.Id';return false;">Delete</button>

            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loader").hide();
    }); 
    </script>