﻿@model IEnumerable<IslamSandhesham.Models.TodayHadithVerse>

@{
    ViewBag.Title = "ViewAll";
}

<section class="p-0 border-0 mt-5">
    <div class="row">
        <div class="col-md-6 mb-5">
            @foreach (var item in Model.Where(w => w.Type == 1))
            {
                <div  style="" class="mt-5">
                    @*<h4 class="text-secondary">Selected <span style="color:#AE52FF;">Hadith</span></h4>*@
                    <div class="card h-100 m-0" style="border-top: 5px solid #AE52FF !important;
        background-image: url('../../Content/images/bg-banner-2.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 70%;">
                        <div class="card-body" style="height: 500px !important; overflow-y: scroll;">
                            <h4 class="text-secondary text-center mb-5" style="font-family: 'Strait', sans-serif;"> <span style="color:#AE52FF;">Hadith</span></h4>
                            <h6 class="mb-4" style="font-family: 'Strait', sans-serif;">@item.Reference</h6>
                            <h3 class="font-arabic2 text-center read-more mb-3" data-char="250" style="font-family: 'Lateef', cursive;">
                                @item.ArabicText
                            </h3>
                            <h5 class="font-urdu text-center read-more mb-3" style="font-family: 'Sree Krushnadevaraya', serif;">
                                @item.TeluguText
                            </h5>
                            <h6 class="text-center m-0 read-more mb-3" data-char="200" style="font-family: 'Strait', sans-serif;">
                                @item.EnglishText
                            </h6>
                        </div>
                        <div class="card-footer bg-white text-right">
                        </div>
                    </div>
                </div><div class="col-md-6 mb-5">

                </div>
            }
        </div>

        <div class="col-md-6 mb-5">
            @foreach (var item1 in Model.Where(w => w.Type == 2))
            {
                <div style="" class="mt-5" >
                    @*<h4 class="text-secondary">Selected <span style="color:#52d3a4">Verse</span></h4>*@
                    <div class="card h-100 m-0" style="border-top:5px solid #52d3a4 !important;
        background-image: url('../../Content/images/bg-banner-2.png'); background-repeat:no-repeat; background-position:center top; background-size:100% 70%;">
                        <div class="card-body" style="height: 500px !important; overflow-y: scroll;">
                            <h4 class="text-secondary text-center mb-5" style="font-family: 'Strait', sans-serif;"> <span style="color:#52d3a4">Verse</span></h4>
                            <h6 class="mb-4" style="font-family: 'Strait', sans-serif;"> @item1.Reference</h6>
                            <h5 class="font-arabic text-center read-more mb-3" data-char="250" style="font-family: 'Lateef', cursive;font-size:25px">@item1.ArabicText</h5>
                            <h5 class="font-urdu text-center read-more mb-3" data-char="200" style="font-family: 'Sree Krushnadevaraya', serif;">@item1.TeluguText</h5>
                            <h6 class="text-center m-0 read-more mb-3" data-char="200" style="font-family: 'Strait', sans-serif;">@item1.EnglishText</h6>
                        </div>
                        <div class="card-footer bg-white text-right">
                            
                        </div>
                    </div>
                </div>   <div class="col-md-6 mb-5">

</div>   }
        </div>

    </div>

</section>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loader").hide();
    });
</script>